<template name="student">
	<h1> Student</h1>
	<body>
		My Class:
		<select id = "dropdown">
			<option> ---- </option>
			{{#each classes}}
			<option>{{this}}</option>
			{{/each}}
		</select>
		<br>
		Name: <input id = "studentName" type = "text">
		<br>
		Email: <input id = "studentEmail" type = "text">
		<br>
		<div id="peopleLists" hidden>
		Friends: 
		<br>
		{{#each groupSize}}
			<select class = "friends">
				<option> ---- </option>
				{{#each students}}
				<option>{{this}}</option>
				{{/each}}
			</select>

			<br>
		{{/each}}
		<br>
		Dislike: 
	<br>
		{{#each groupSize}}
			<select class = "dislikes">
				<option> ---- </option>
				{{#each students}}
				<option>{{this}}</option>
				{{/each}}
			</select>

			<br>
		{{/each}}
		<br>
		<button type = "button" id = "submit"> Submit
		</button>
	</div>
	</body>

</template>
