<template name="student">
	<h1> Student</h1>
	<body>
		My Class:
		<select id = "dropdown">
			{{#each classes}}
			<option>{{this}}</option>
			{{/each}}
		</select>
		<br>
		Name: <input id = "studentName" type = "text">
		<br>
		Email: <input id = "studentEmail" type = "text">
		<br>
		Comfort in Class: <input id = "comfort" type = "text"> (1-10)
		<br>
		Friends: 
		<br>
		1. <input id = "friend1" type = "text">
		<br>
		2. <input id = "friend2" type = "text">
		<br>
		3. <input id = "friend3" type = "text">
		<br>
		I know them: 
		<br>
		1. <input id = "known1" type = "text">
		<br>
		2. <input id = "known2" type = "text">
		<br>
		3. <input id = "known3" type = "text">
		<br>
		Dislike: 
		<br>
		1. <input id = "dislike1" type = "text">
		<br>
		2. <input id = "dislike2" type = "text">
		<br>
		3. <input id = "dislike3" type = "text">
		<br>
		<button type = "button" id = "submit"> Submit
		</button>
	</body>

</template>
