<template name="student">
	<h1> Student</h1>
	<body>
		My Class:
		<select id = "dropdown">
			<option> ---- </option>
			{{#each classes}}
			<option>{{this}}</option>
			{{/each}}
		</select>
		<br>
		Name: <input id = "studentName" type = "text">
		<br>
		Email: <input id = "studentEmail" type = "text">
		<br>
		Comfort in Class: <input id = "comfort" type = "text"> (1-10)
		<br>
		<div id="peopleLists" hidden>
		Friends: 
		<br>
		{{#each groupSize}}
			<input type = "text">
			<br>
		{{/each}}
		<br>
		I know them: 
		<br>
		{{#each groupSize}}
			<input type = "text">
			<br>
		{{/each}}
		<br>
		Dislike: 
		<br>
		{{#each groupSize}}
			<input type = "text">
			<br>
		{{/each}}
		<button type = "button" id = "submit"> Submit
		</button>
	</div>
	</body>

</template>
